header {
    display: block;
    height: 50px;
    font-size: 11px;
    background-color: red;
    color: white;
    border: 1px solid black;

}

a {
    text-decoration: none;
    float: right;
    padding: 2px 30px;
    margin-top: -15px;
    color: white;
    align-items: center;

}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    font-size: 11px;
    background-color: red;
    color: white;
    margin-top: -200px;
}
#inf {
    text-align: center;
}

#texto {
    padding: 160px 210px;
    text-align: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: -100px;
    left: 100px;
}

.container1 img {
    float: left;
    width: 500px;
    position: relative;
    top: 70px;
    left: 20px;
}
